---
import Hamburger from '@/components/Hamburger.astro';
import Navigation from '@/components/Navigation.astro';
import Scripts from '@/components/Scripts.astro';
---

<header>
  <nav>
    <Scripts />
    <Hamburger />
    <Navigation />
  </nav>
</header>
